{% extends 'base.html' %}

{% block content %}

    {% comment %} SEARCH + CHECKBOXES {% endcomment %}
    <form action="{% url 'sdg' %}" method="POST">
        {% csrf_token %}
        <h1>UCL5 MieMie NLP & Data Mining Engine 
            <button style="margin-left: 30px" class="btn btn-primary" type="submit" value='Click' name="updateModuleData">Sync Data</button>
        </h1>     
    </form>
    
    <br>
    
    {% comment %} SEARCH + CHECKBOXES {% endcomment %}
    <form action="{% url 'sdg' %}" method="GET" value="{{ request.GET.b }}">
        <input type="text" name="b" value="{{ request.GET.b }}" placeholder="Search query"/>
        <input type="submit" name="submit" value="Search"/>
        <form method="post" action="#">
            Modules {{ form.modBox }} <input type="checkbox", value="clicked", name="modBox" {{ form.modBox }}> 
            Publications {{ form.pubBox }} <input type="checkbox", value="clicked", name="pubBox" {{ form.pubBox }}> 
        </form><br>
    </form>

    <button style="" class="btn btn-primary" type="submit" value='Click' name="goToLDA">
        <a style="color:white" href="{% url 'lda' %}" target="_blank">View LDA Visualization</a> 
    </button>

    <br>  
    <br> 

    {% comment %} PUBLICATION DATA DISPLAY TABLE {% endcomment %}
    {% if form.pubBox == 'checked' %}
        <table class="table table-striped">
            <br><h3>Publications found: {{ lenPub }}</h3>
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">DOI</th>
                    <th></th>
                    <th scope="col">SDG 1</th>
                    <th scope="col">SDG 2</th>
                    <th scope="col">SDG 3</th>
                    <th scope="col">SDG 4</th>
                    <th scope="col">SDG 5</th>
                    <th scope="col">SDG 6</th>
                    <th scope="col">SDG 7</th>
                    <th scope="col">SDG 8</th>
                    <th scope="col">SDG 9</th>
                    <th scope="col">SDG 10</th>
                    <th scope="col">SDG 11</th>
                    <th scope="col">SDG 12</th>
                    <th scope="col">SDG 13</th>
                    <th scope="col">SDG 14</th>
                    <th scope="col">SDG 15</th>
                    <th scope="col">SDG 16</th>
                    <th scope="col">SDG 17</th>
                    <th scope="col">Misc</th>
                    <th scope="col">Predicted</th>
                    <th scope="col">Validation Similarity</th>
                </tr>
            </thead>
            <tbody style="text-align: center; vertical-align: middle;">
                {% for item in pub %}
                    <tr>
                        <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba({{item.assignedSDG.Validation.ColorRed}}, {{item.assignedSDG.Validation.ColorGreen}}, {{item.assignedSDG.Validation.ColorBlue}}, 1);"></td>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.title|truncatechars:40 }}</a></td>
                        <td>Model<br>String</td>
                        <td>{{ item.assignedSDG.1|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.0 }}</td>
                        <td>{{ item.assignedSDG.2|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.1 }}</td>
                        <td>{{ item.assignedSDG.3|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.2 }}</td>
                        <td>{{ item.assignedSDG.4|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.3 }}</td>
                        <td>{{ item.assignedSDG.5|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.4 }}</td>
                        <td>{{ item.assignedSDG.6|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.5 }}</td>
                        <td>{{ item.assignedSDG.7|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.6 }}</td>
                        <td>{{ item.assignedSDG.8|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.7 }}</td>
                        <td>{{ item.assignedSDG.9|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.8 }}</td>
                        <td>{{ item.assignedSDG.10|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.9 }}</td>
                        <td>{{ item.assignedSDG.11|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.10 }}</td>
                        <td>{{ item.assignedSDG.12|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.11 }}</td>
                        <td>{{ item.assignedSDG.13|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.12 }}</td>
                        <td>{{ item.assignedSDG.14|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.13 }}</td>
                        <td>{{ item.assignedSDG.15|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.14 }}</td>
                        <td>{{ item.assignedSDG.16|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.15 }}</td>
                        <td>{{ item.assignedSDG.17|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.16 }}</td>
                        <td>{{ item.assignedSDG.18|floatformat:"2" }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.17 }}</td>
                        {% if item.assignedSDG.Result != ""%}
                            {% if item.assignedSDG.Result == "18"%}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">Misc</td>
                            {% else %}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">{{ item.assignedSDG.Result }}</td>
                            {% endif %}
                        {% else %}
                            <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">None</td>
                        {% endif %}
                        <td>{{ item.assignedSDG.Validation.Similarity|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% comment %} MODULE DATA DISPLAY TABLE {% endcomment %}
    {% if form.modBox == 'checked' %}
        <table class="table table-striped">
            <br><h3>Modules found: {{ lenMod }}</h3><br>
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Module ID</th>
                    <th></th>
                    <th scope="col">SDG 1</th>
                    <th scope="col">SDG 2</th>
                    <th scope="col">SDG 3</th>
                    <th scope="col">SDG 4</th>
                    <th scope="col">SDG 5</th>
                    <th scope="col">SDG 6</th>
                    <th scope="col">SDG 7</th>
                    <th scope="col">SDG 8</th>
                    <th scope="col">SDG 9</th>
                    <th scope="col">SDG 10</th>
                    <th scope="col">SDG 11</th>
                    <th scope="col">SDG 12</th>
                    <th scope="col">SDG 13</th>
                    <th scope="col">SDG 14</th>
                    <th scope="col">SDG 15</th>
                    <th scope="col">SDG 16</th>
                    <th scope="col">SDG 17</th>
                    <th scope="col">Misc</th>
                    <th scope="col">Predicted</th>
                    <th scope="col">Validation Similarity</th>
                </tr>
            </thead>
            <tbody style="text-align: center; vertical-align: middle;">
                {% for item in mod %}
                    <tr style="border-bottom: 1pt solid black">
                        <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba({{item.assignedSDG.Validation.ColorRed}}, {{item.assignedSDG.Validation.ColorGreen}}, {{item.assignedSDG.Validation.ColorBlue}}, 1);"></td>
                        {% comment %} <td><a href="{{ item.get_absolute_url }}">{{ item.Module_Name|truncatechars:50 }}</a></td> {% endcomment %}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.Module_ID }}</a></td>
                        <td>Model<br>String</td>
                        <td>{{ item.assignedSDG.1 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.0 }}</td>
                        <td>{{ item.assignedSDG.2 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.1 }}</td>
                        <td>{{ item.assignedSDG.3 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.2 }}</td>
                        <td>{{ item.assignedSDG.4 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.3 }}</td>
                        <td>{{ item.assignedSDG.5 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.4 }}</td>
                        <td>{{ item.assignedSDG.6 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.5 }}</td>
                        <td>{{ item.assignedSDG.7 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.6 }}</td>
                        <td>{{ item.assignedSDG.8 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.7 }}</td>
                        <td>{{ item.assignedSDG.9 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.8 }}</td>
                        <td>{{ item.assignedSDG.10 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.9 }}</td>
                        <td>{{ item.assignedSDG.11 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.10 }}</td>
                        <td>{{ item.assignedSDG.12 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.11 }}</td>
                        <td>{{ item.assignedSDG.13 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.12 }}</td>
                        <td>{{ item.assignedSDG.14 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.13 }}</td>
                        <td>{{ item.assignedSDG.15 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.14 }}</td>
                        <td>{{ item.assignedSDG.16 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.15 }}</td>
                        <td>{{ item.assignedSDG.17 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.16 }}</td>
                        <td>{{ item.assignedSDG.18 }} <br> {{ item.assignedSDG.Validation.SDG_Keyword_Counts.17 }}</td>
                        {% if item.assignedSDG.Result != ""%}
                            {% if item.assignedSDG.Result == "18"%}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">Misc</td>
                            {% else %}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">{{ item.assignedSDG.Result }}</td>
                            {% endif %}
                        {% else %}
                            <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">None</td>
                        {% endif %}
                        <td>{{ item.assignedSDG.Validation.Similarity|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% comment %} <table style="float: left" class="table table-striped">
            <thead>
                <tr><th scope="col">Predicted</th></tr>
            </thead>
            <tbody>
                {% for item in mod %}
                    <tr><td>{{ item.assignedSDG.Result }}</td></tr>
                {% endfor %}
            <tbody>
        </table> {% endcomment %}

    {% endif %}

{% endblock %}